extends layout

block content
  h1 Кошельки
  each wallet, index in walletsList
    if wallet !== ''
      div(class='wallet')
        h2= wallet
        button(onclick='remove(' + index + ')') Удалить
  h1#error
  
  form(id="mainForm", method="post")
    input(name='walletName', placeholder='Номер кошелька')

    select(name="address")
      option(value='null', selected="selected") Укажите привязанный адрес
      each address in addresses
        option(value=address)= address

    button(type="submit") Send
