body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}
.wallet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet h2,
.wallet button {
  margin: 0;
}

table {
  text-align: left;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}
.candidate {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.candidate span {
  border: 1px solid lightgray;
}
form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
select {
  font-size: 24px;
  margin-top: 10px;
}
button {
  cursor: pointer;
  font-size: 24px;
  margin-top: 20px;
}
#error {
  color: red;
}
